# LLM API Keys
LLM_API_TYPE=openai # claude/gemini/openai
LLM_API_KEY=your-openai-or-claude-or-gemini-api-key
LLM_API_MODEL=gpt-5-nano
LLM_API_STRONG_MODEL=gpt-5-mini

# Stock Market API Key
FINANCIAL_DATASETS_API_KEY=your-financial-datasets-api-key

# Web Search API Key
TAVILY_API_KEY=your-tavily-api-key

# LangSmith 
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=dexter
LANGSMITH_TRACING=true

# Context Management
AUTO_CLEAN_CONTEXT_ON_STARTUP=true
